@import url("style/header.css");
:root{
    --cor-de-fundo:#EBECEE;
    --branco:#FFFFFF;
}

* {
    margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-color: var(--cor-de-fundo);
}

